window {
    background-color: #f2f2f2;
    color: #000;

}

#custom-header {
    background-color: #293864;
}

#custom-header label {
    color: white;
    font-size: 20;
    font-weight: bold;
}

.hamburger-btn, .list-btn {
    min-width: 60px;
    min-height: 40px;
}

.hamburger-btn image {
    color: white;
}

.import_profile_btn {
    min-width: 100px;
}

#sidebar {
    background-color: #293864;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius:16px;
    margin-bottom: 200px;
}
