.VPN-label {
    color: white;
    background-color: rgba(0, 0, 0, 0);
    font-size: 20px;
}
.logs-label {
    color: white;
    background-color: rgba(0, 0, 0, 0); /* Fully transparent background */
    font-size: 14px;
}